
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
    <title>university admission predictor</title>
 <link rel="stylesheet" href="../static/css/background.css" />
  
</head>
<body>
<center>
<div class="opacity2"></div>
    <div class="big">
      <nav>
       <ul>
       <li><a class="active" href="/home1">Home</a></li>
       <li><a href="/assesment">Predict</a></li>
       <li><a href="/about">About</a></li>
       </ul>
      </nav>

                          <br><h1><center>UNIVERSITY ADMIT ELIGIBILITY PREDICTOR</center></h1>
                          <div class="form2">
                              <h2>About</h2>

                               <div class="row row-space">
                            <p>The primary purpose is to identify the prediction of student admission to university based on numerous factors and Model. Many 
prospective students apply for Master’s programs. The admission decision depends on criteria within the particular college or degree program. The independent variables in this 
study will be measured statistically to predict graduate school admission. Exploration and data analysis, if successful, would allow predictive models to allow better 
prioritization of the applicants screening process to Master’s degree programme which in turn provides the admission to the right candidates.</p>
                               </div> 

                          </div>

<br><br><br>
<div class="p-t-30"><center>
                            <img src="../static/image/gg.jpg" width="20%" height="20%"> &nbsp; <img src="../static/image/ff.jpg" width="20%" height="20%"> &nbsp; <img src="../static/image/th (7).jpg" width="20%" height="20%">
                        </center>  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

      <center>


       <div class="footer">2022 University Admit Eligibility Predictor</div></center>
        </center>

    </div>
</center>
</body>

</html>