
<html>

<head>
<title>university admission predictor</title>
<link rel="stylesheet" href="../static/css/background.css" />
</head>

<body >
<center>
  <div>

    <div class="h-container">

      <h1 class="heading">Predicting Chance of Admission</h1>

      <p class="para">A machine learning Web App, Built with Flask</p>

    </div>

    <div class="container2">

      <h2 class="heading2">Prediction:<span class="s-heading">You have a chance</span></h1>

    <img src="../static/image/source.gif"/>
    <img src="../static/image/th (5).jpg"/>
    </div><br><br><br>

   <br> <p class="end-para">Finally, the prediction for the given input features is shown.</p>
</div><br><br><br>
<div class="footer">2022 University Admit Eligibility Predictor</div>

</center>

</body>

</html>
