
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
    <title>university admission predictor</title>
 <link rel="stylesheet" href="../static/css/background.css" />
  
</head>
<body>
<div class="opacity3"></div>
  <div class="big">
   <nav>
   <ul>
     <li><a class="active" href="/home1">Home</a></li>
     <li><a href="/assesment">Predict</a></li>
     <li><a href="/about">About</a></li>
   </ul>
   </nav>
                     <br><h1><center>UNIVERSITY ADMIT ELIGIBILITY PREDICTOR</center></h1>
                    
                           <div class="p-t-30"><center>
                            <img src="../static/image/20131114DD078-1-864x576.jpg" width="50%" height="50%"  >
                           </center>  </div>
   <h3>About</h3>

            <div class="row row-space">
                            <p>The primary purpose is to identify the prediction of student admission to university based on numerous factors and Model. Many 
prospective students apply for Master’s programs. The admission decision depends on criteria within the particular college or degree program.
The independent variables in this study will be measured statistically to predict graduate school admission. Exploration and data analysis, if successful, would allow predictive models to allow better 
prioritization of the applicants screening process to Master’s degree programme which in turn provides the admission to the right candidates.</p>
            </div> 
                         <center>
                             <form action="/assesment">
                                <button type="submit">Click me to continue with prediction</button></center>
                             </form>
                        
 <br>                     
<center>
<div class="footer">2022 University Admit Eligibility Predictor</div></center>
</div>
</body>

</html>